.number-selector {
    position: relative;

    width: 100%;
    height: 5vh;

    margin-bottom: 0.5vh;

    .selectors {
        position: absolute;
        display: flex;

        width: auto;
        height: auto;

        top: 50%;
        

        transform: translateY(-50%);

        .selector {
            position: relative;

            width: 19.5vh;
            height: 5vh;

            border-radius: var(--default-border-radius);

            background: var(--background-fade);

            &:first-child {
                margin-right: 1vh;
            }

            .arrow {
                position: absolute;

                width: 2.5vh;
                height: 100%;

                top: 50%;
                transform: translateY(-50%);

                border-radius: var(--default-border-radius);

              

                &.left {
                    left: 1vh;
                }

                &.right {
                    right: 1vh;
                }

                &:hover {
                    cursor: pointer;
                }

                i {
                    position: absolute;

                    top: 50%;
                    left: 50%;
                    width: 100%;
                    text-align: center;
                    
                    transform: translate(-50%, -50%);

                    font-size: 1.2vh;
                    color: var(--white);
                }
            }

            input {
                position: absolute;

                width: 10vh;
                height: 2vh;

                font-size: 1.4vh;
                color: var(--white);
                background: none;

                outline: none;
                border: none;

                text-align: center;

                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        }
    }
}