.clothing-element {
    position: relative;

    width: 100%;
    height: auto;

    max-height: 40vh;

    transition: all 0.5s ease-in-out;

    // background-color: blue;

    .header {
        position: relative;
        width: 100%;
        height: 4vh;

        border-radius: var(--default-border-radius);

        margin-bottom: 0.5vh;

        background: var(--background-fade);

        .label {
            position: absolute;

            top: 50%;
            left: 1vh;

            transform: translateY(-50%);

            font-size: 1.5vh;
            line-height: 1.5vh;

            color: var(--foreground);
        }

        .expand-arrow {
            position: absolute;

            top: 50%;
            right: 1vh;

            transform: translateY(-50%);

            width: 2vh;
            height: 2vh;

            display: flex;
            justify-content: center;
            align-items: center;

            i {
                position: absolute;

                top: 50%;
                left: 50%;
                width: 100%;
                text-align: center;
                
                transform: translate(-50%, -50%);

                font-size: 1.2vh;
                color: var(--foreground);
            }

        }

        &:hover {
            background: var(--muted);
            cursor: pointer;
        }
    }
}