@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    --white: #cccccc;
    --gray: rgb(136, 136, 136);
    --dark1: rgb(40, 40, 40);
    --dark2: rgb(55, 55, 55);
    --dark3: rgb(65, 65, 65);

    --blue1: rgb(37, 91, 172);
    --blue2: rgb(22, 54, 102);
    --blue3: rgb(20, 44, 82);

   
    --blueOutline: rgb(41, 84, 148) solid 0.3vh;
    --main-color: radial-gradient(ellipse, rgba(80, 80, 80, 0.85) 30%, rgba(41, 41, 41, 0.85) 100%);
    --second-color: radial-gradient(ellipse, rgba(130, 130, 130, 0.85) 30%, rgba(100, 100, 100, 0.85) 100%);

    --default-border-radius: 0.5vh;

    --background: hsl(20, 14.3%, 4.1%);
    --background-fade: radial-gradient(ellipse, hsl(17, 10%, 13%) 30%, hsl(20, 14.3%, 4.1%) 100%);
	--muted: hsl(0, 0%, 15%);
	--muted-foreground: hsl(240, 5%, 64.9%);
	
    --foreground: hsl(0, 0%, 95%);
	--card: hsl(24, 9.8%, 10%);
	--card-foreground: hsl(0, 0%, 95%);
	--popover: hsl(0, 0%, 9%);
	--popover-foreground: hsl(0, 0%, 95%);
	--primary: hsl(142.1, 70.6%, 45.3%);
	--primary-foreground: hsl(144.9, 80.4%, 10%);
	--secondary: hsl(240, 3.7%, 15.9%);
	--secondary-foreground: hsl(0, 0%, 98%);
	--accent: hsl(12, 6.5%, 15.1%);
	--accent-foreground: hsl(0, 0%, 98%);
	--destructive: hsl(0, 62.8%, 30.6%);
	--destructive-foreground: hsl(0, 93%, 16%);
	--border: hsl(240, 3.7%, 15.9%);
	--input: hsl(240, 3.7%, 15.9%);
	--ring: hsl(142.4, 71.8%, 29.2%);
	--radius: 0.8vh;
	--hover: hsla(0, 0%, 0%, 0.25);

}

::-webkit-scrollbar {
    width: 0.7vh;
}

::-webkit-scrollbar-track {
    background: rgba(41, 41, 41, 0.85);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(80, 80, 80, 0.85);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

#root {
    width: 100%;
    height: 100%;
}

.App {
    width: 100%;
    height: 100%;
}