.menu { 
    position: absolute;
    width: 40vh;
    height: 73vh;

    top: 50%;
    right: 1vh;

    transform: translateY(-50%);

    .actions {
        position: relative;

        width: 100%;
        height: auto;

        margin-bottom: 0.2vh;

        border-radius: var(--default-border-radius);

        

        .action {
            position: relative;

            width: 4vh;
            height: 4vh;
            border-radius: var(--default-border-radius);

            background: var(--background-fade);
            
            i {
                font-size: 1.4vh;
    
                color: var(--foreground);
                position: absolute;

                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);
            
            }

            &:hover {
                background: var(--muted);
                cursor: pointer;
            }
        }
    }
}