.image-selector {
  position: relative;
  width: 100%;
  height: fit-content;
  transition: all 0.3s ease-in-out;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vh;
  margin-top: 0.5vh;
}
.image-selector .image {
  position: relative;
  width: 9.4vh;
  height: 9.6vh;
  border-radius: var(--default-border-radius);
  background: var(--main-color);
}
.image-selector .image:hover {
  cursor: pointer;
  outline: var(--blueOutline);
  outline-offset: -0.3vh;
}
.image-selector .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4vh;
  height: 8vh;
}