.number-selector {
  position: relative;
  width: 100%;
  height: 6vh;
}
.number-selector .selectors {
  position: absolute;
  display: flex;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.number-selector .selectors .selector {
  position: relative;
  width: 19.5vh;
  height: 5vh;
  border-radius: var(--default-border-radius);
  background: var(--main-color);
}
.number-selector .selectors .selector:first-child {
  margin-right: 1vh;
}
.number-selector .selectors .selector .arrow {
  position: absolute;
  width: 2.5vh;
  height: 2.5vh;
  top: 50%;
  transform: translateY(-50%);
  border-radius: var(--default-border-radius);
  background: var(--second-color);
}
.number-selector .selectors .selector .arrow.left {
  left: 1vh;
}
.number-selector .selectors .selector .arrow.right {
  right: 1vh;
}
.number-selector .selectors .selector .arrow:hover {
  cursor: pointer;
}
.number-selector .selectors .selector .arrow i {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 1.2vh;
  color: var(--white);
}
.number-selector .selectors .selector input {
  position: absolute;
  width: 10vh;
  height: 2vh;
  font-size: 1.4vh;
  color: var(--white);
  background: none;
  outline: none;
  border: none;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}